@charset "UTF-8";

/* 일반선택자 */
body {
	margin: 0px;
	background-color: #f6f6f6;
	marginheight: 0px;
	marginwidth: 0px;
	overflow-x: hidden;
	margin: 0px;
}

div {
	/* 	border: 1px solid gray; */
	
}

table {
	width: 90%;
	text-align: center;
	margin: auto;
	border: 1px solid gray;
	border-collapse: collapse;
}

thead {
	background-color: #dfdfdf;
}

th {
	/* 	border: 1px solid #999999; */
	
}

td {
	border: 1px solid #999999;
}

/* 샵은아이디선택자 */


#navi {
	width: 100%;
	height: 50px;
	top: 0px;
	position: fixed;
	background-color: white;
	z-index: 2;
}

#container {
	/* background-color: #dfdfdf; */
	position: relative;
	cellpadding: 0px;
	cellspacing: 0px;
	width: 1200px;
	padding-top: 80px;
	margin: auto;
	z-index: 1;
	overflow: visible;
	border: 0px;
	cellpadding: 0px;
	margin: auto;
}

#SearchLine {
	width: 1200px;
	height: 50px;

	/* 	border: 1px solid gray; */
}

#header {
	/* 	overflow: auto; */
	height: 80px;
	padding: 0px;
}

#content {
	width: 1200px;
	margin-top: 30px;
	padding: 0px;
	height: 465px;
}

#dropDown-menu {
	width: 1200px;
	height: 30px;
	border: 1px solid gray;
}

#dropDown-img {
	width: 1200px;
	margin-top: 30px;
	height: 400px;
	border: 1px solid gray;
}

/* 클래스선택자 */
.contentLeft {
	margin-top: 20px;
	margin-bottom: 30px;
	width: 580px;
	height: 400px;
	padding: 0px;
	float: left;
	border: 1px solid gray;
}

.contentRight {
	margin-top: 20px;
	margin-bottom: 30px;
	width: 580px;
	height: 400px;
	padding: 0px;
	float: right;
	border: 1px solid gray;
}

#contentFinal {
	width: 1200px;
	height: 400px;
	margin-top: 20px;
	margin-bottom: 30px;
	border: 1px solid gray;
	/* backgoround-color: red; */
}

#footer {
	/* 	position: static; */
	/* 	position: absolute; */
	margin-top: 100px;
	width: 100%;
	height: 400px;
	padding: 0px;
	clear: both;
	width: 100%;
	padding: 0px;
	background-color: white;
}

.titleBox {
	margin-top: 20px;
	margin-bottom: 30px;
	clear: both;
}

#footerInner {
	width: 1200px;
	margin: auto;
	height: 400px;
}

@media ( max-width :800px ) {
	/* 가로 1200px이하일경우 스마트폰 레이아웃으로 변경 */
	#container {
		width: auto;
	}
	#content {
		width: auto;
	}
	#footer {
		width: auto;
		clear: both;
	}

	/* 클래스선택자 */
	.contentLeft {
		width: 100%;
		float: none;
	}
	.contentRight {
		width: auto;
		float: none;
	}
	#searchLine {
		width: auto;
	}
	#content {
		width: auto;
	}
	#dropDown-menu {
		width: auto;
	}
	#dropDown-img {
		width: auto;
	}
	#contentFinal {
		width: auto;
	}
	#footerInner {
		width: auto;
	}
}

@media ( min-width :800px) and ( max-width:1200px ) {
	/* 가로 1200px이하일경우 스마트폰 레이아웃으로 변경 */
	#container {
		width: auto;
	}
	#content {
		width: auto;
	}
	#footer {
		width: auto;
		clear: both;
	}

	/* 클래스선택자 */
	.contentLeft {
		width: 48%;
	}
	.contentRight {
		width: 48%;
	}
	#searchLine {
		width: auto;
	}
	#content {
		width: auto;
	}
	#dropDown-menu {
		width: auto;
	}
	#dropDown-img {
		width: auto;
	}
	#contentFinal {
		width: auto;
	}
	#footerInner {
		width: auto;
	}
}