@charset "UTF-8";

/* 일반선택자 */
body {
	/* background-color: #f6f6f6; */
	background-color: white;
	marginheight: 0px;
	marginwidth: 0px;
	overflow-x: hidden;
	margin: 0px;
	margin-top: 50px
}

.home_search-line {
	margin-top: 30px;
	position: relative;
}

#session-less {
	padding: 100px 0px 200px 0px;
	text-align: center;
	width: 100%;
	background-color: #f6f6f6;
}

#session-less>img {
	width: 50px;
}
.view-container{
	width: 100%;
	background-color: #f6f6f6;

	
}
.gray-container {
	background-color: #f6f6f6;
	position: relative;
	cellpadding: 0px;
	cellspacing: 0px;
	width: 100%;
	padding-top: 80px;
	margin: auto;
	z-index: 1;
	overflow: visible;
	border: 0px;
	cellpadding: 0px;
}

/* login같은 간이페이지 공통css */
.find-container {
	width: 100%;
	background-color: #f6f6f6;
	height: 500px;
}

.my-page_container {
	width: 100%;
	background-color: #f6f6f6;
}

#find_container--800 {
	max-width: 800px;
}

#find_container--800>div {
	text-align: center;
	margin-bottom: 50px;
}

#find_form--40 {
	margin-top: 40px;
}

#find-pass_quiz--2 {
	font-size: 0.8em;
}
/* login같은 간이페이지 공통css */

/* <!-- 롤오버드랍다운 css & script --> */
.zeta-menu-bar {
	background: grey;
	display: inline-block;
	width: 100%;
}

.zeta-menu {
	margin: 0;
	padding: 0;
}

.zeta-menu li {
	float: left;
	list-style: none;
	position: relative;
}

.zeta-menu li:hover {
	background: white;
}

.zeta-menu li:hover>a {
	color: grey;
}

.zeta-menu a {
	color: white;
	display: block;
	padding: 10px 20px;
	text-decoration: none;
}

.zeta-menu ul {
	background: #eee;
	border: 1px solid silver;
	display: none;
	padding: 0;
	position: absolute;
	left: 0;
	top: 100%;
	width: 180px;
}

.zeta-menu ul li {
	float: none;
}

.zeta-menu ul li:hover {
	background: #ddd;
}

.zeta-menu ul li:hover a {
	color: black;
}

.zeta-menu ul a {
	color: black;
}

.zeta-menu ul ul {
	left: 100%;
	top: 0;
}

.zeta-menu ul ul li {
	float: left;
	margin-right: 10px;
}

/* <!-- 롤오버드랍다운 css & script --> */

/* 샵은아이디선택자 */
#navi {
	width: 100%;
	height: 50px;
	top: 0px;
	position: fixed;
	background-color: white;
	z-index: 2;
}

#SearchLine {
	width: 1150px;
	height: 50px;

	/* 	border: 1px solid gray; */
}

#header {
	/* 	overflow: auto; */
	height: 80px;
	padding: 0px;
}

#content {
	width: 1150px;
	margin-top: 30px;
	padding: 0px;
}

#dropDown-menu {
	width: 1150px;
	height: 30px;
	z-index: 2;
	/* border: 1px solid gray; */
}

#dropDown-img {
	width: 1150px;
	margin-top: 30px;
	z-index: 1;
	/* border: 1px solid gray; */
	/* overflow:hidden; */
	margin-bottom: 50px;
}

.contentRigntLeftBoxTable {
	width: 560px;
	overflow: hidden;
	/* border: 1px solid gray; */
}

/* 클래스선택자 */
.contentLeft {
	margin-top: 20px;
	margin-bottom: 30px;
	width: 560px;
	height: 500px;
	padding: 0px;
	float: left;
	/* border: 1px solid gray; */
	overflow: hidden;
	position: relative;

	/* border-radius: 4px; */
}

.contentRight {
	margin-top: 20px;
	margin-bottom: 30px;
	width: 560px;
	height: 500px;
	padding: 0px;
	float: right;
	/* border: 1px solid gray; */
	overflow: hidden;
	position: relative;
}

/* #contentFinal {
	width: 1150px;
	height: 400px;
	margin-top: 20px;
	margin-bottom: 30px;
	border: 1px solid gray;
	backgoround-color: red;
} */

/* #footer {
		position: static;
		position: absolute;
	margin-top: 100px;
	width: 100%;
	height: 400px;
	padding: 0px;
	clear: both;
	width: 100%;
	padding: 0px;
	background-color: white;
} */
.titleBox {
	margin-top: 200px;
	margin-bottom: 30px;
	clear: both;
}

/* #footerInner {
	width: 1150px;
	margin: auto;
	height: 400px;
} */

/* 경로css 실험 */
.breadcrumb2 {
	padding: 8px 15px;
	/* 	margin-bottom: 20px; */
	list-style: none;
	background-color: white;
	border-radius: 4px;
}

.breadcrumb2>li {
	display: inline-block;
}

.breadcrumb2>li+li:before {
	padding: 0 5px;
	color: #ccc;
	content: "/\00a0";
}

.breadcrumb2>.active {
	color: #777;
}

/* 경로css 실험 */
@media ( max-width :800px ) {
	/* 가로 1200px이하일경우 스마트폰 레이아웃으로 변경 */
	#container {
		width: auto;
	}
	#content {
		width: auto;
	}
	#footer {
		width: auto;
		clear: both;
	}

	/* 클래스선택자 */
	.contentLeft {
		width: 100%;
		float: none;
	}
	.contentRight {
		width: auto;
		float: none;
	}
	#searchLine {
		width: auto;
	}
	#content {
		width: auto;
	}
	#dropDown-menu {
		width: auto;
	}
	#dropDown-img {
		width: auto;
	}
	#contentFinal {
		width: auto;
	}
	#footerInner {
		width: auto;
	}
}

@media ( min-width :800px) and ( max-width:1200px ) {
	/* 가로 1200px이하일경우 스마트폰 레이아웃으로 변경 */
	#container {
		width: auto;
	}
	#content {
		width: auto;
	}
	#footer {
		width: auto;
		clear: both;
	}

	/* 클래스선택자 */
	.contentLeft {
		width: 48%;
	}
	.contentRight {
		width: 48%;
	}
	#searchLine {
		width: auto;
	}
	#content {
		width: auto;
	}
	#dropDown-menu {
		width: auto;
	}
	#dropDown-img {
		width: auto;
	}
	#contentFinal {
		width: auto;
	}
	#footerInner {
		width: auto;
	}
}